:root {
  --oui-font-family: 'Manrope', sans-serif;

  /* colors */
  --oui-color-primary: 234 51 51;
  --oui-color-primary-light: 190 30 30;
  --oui-color-primary-darken: 180 20 20;
  --oui-color-primary-contrast: 255 255 255;

  --oui-color-link: 255 51 0;
  --oui-color-link-light: 254 100 50;

  --oui-color-secondary: 248 210 105;
  --oui-color-tertiary: 218 218 218;
  --oui-color-quaternary: 218 218 218;

  --oui-color-danger: 245 97 139;
  --oui-color-danger-light: 250 150 180;
  --oui-color-danger-darken: 240 70 120;
  --oui-color-danger-contrast: 255 255 255;

  --oui-color-success: 41 233 169;
  --oui-color-success-light: 100 240 210;
  --oui-color-success-darken: 0 180 120;
  --oui-color-success-contrast: 255 255 255;

  --oui-color-warning: 255 209 70;
  --oui-color-warning-light: 255 220 100;
  --oui-color-warning-darken: 255 180 50;
  --oui-color-warning-contrast: 255 255 255;

  --oui-color-fill: 100 30 30;
  --oui-color-fill-active: 120 20 20;

  --oui-color-base-1: 139 10 10;
  --oui-color-base-2: 129 5 5;
  --oui-color-base-3: 114 20 20;
  --oui-color-base-4: 89 25 25;
  --oui-color-base-5: 80 35 35;
  --oui-color-base-6: 69 30 30;
  --oui-color-base-7: 102 45 45;
  --oui-color-base-8: 92 40 40;
  --oui-color-base-9: 82 35 35;
  --oui-color-base-10: 94 43 43;

  --oui-color-base-foreground: 255 255 255;
  --oui-color-line: 255 255 255;

  --oui-color-trading-loss: 245 30 30;
  --oui-color-trading-loss-contrast: 255 255 255;
  --oui-color-trading-profit: 30 200 30;
  --oui-color-trading-profit-contrast: 255 255 255;

  /* gradients */
  --oui-gradient-primary-start: 234 70 70;
  --oui-gradient-primary-end: 251 100 100;

  --oui-gradient-secondary-start: 249 220 120;
  --oui-gradient-secondary-end: 255 240 150;

  --oui-gradient-success-start: 1 100 60;
  --oui-gradient-success-end: 41 230 180;

  --oui-gradient-danger-start: 153 40 80;
  --oui-gradient-danger-end: 245 80 140;

  --oui-gradient-brand-start: 190 30 30;
  --oui-gradient-brand-end: 240 80 80;
  --oui-gradient-brand-stop-start: 6.62%;
  --oui-gradient-brand-stop-end: 86.5%;
  --oui-gradient-brand-angle: 17.44deg;

  --oui-gradient-warning-start: 152 80 20;
  --oui-gradient-warning-end: 255 220 100;

  --oui-gradient-neutral-start: 27 20 20;
  --oui-gradient-neutral-end: 50 40 40;

  /* rounded */
  --oui-rounded-sm: 2px;
  --oui-rounded: 4px;
  --oui-rounded-md: 6px;
  --oui-rounded-lg: 8px;
  --oui-rounded-xl: 12px;
  --oui-rounded-2xl: 16px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 33.75rem;
}